BODY
{
    SCROLLBAR-FACE-COLOR: #d4d0c8;
    SCROLLBAR-HIGHLIGHT-COLOR: #d4d0c8;
    SCROLLBAR-SHADOW-COLOR: #d4d0c8;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #d4d0c8;
    SCROLLBAR-DARKSHADOW-COLOR: #7f7f7f
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma
}
.deleted
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: line-through
}
.f_bk7
{
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bk7b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bk8
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bk8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bk9
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bk9b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bl7
{
    FONT-SIZE: 7pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_bl7b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_bl8
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bl8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_bl9b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.i_bk8b
{
    BORDER-RIGHT: gray 1pt;
    BORDER-TOP: gray 1pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: gray 1pt;
    COLOR: black;
    BORDER-BOTTOM: gray 1pt solid;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.i_bk8
{
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    FONT-SIZE: 8pt;
    BORDER-LEFT: white;
    COLOR: black;
    BORDER-BOTTOM: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.i_bk9
{
    FONT-SIZE: 9pt;
    COLOR: black;
    BORDER-BOTTOM: gray 1pt solid;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.i_bk9b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    BORDER-BOTTOM: gray 1pt solid;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.l_bk8
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: none
}
.l_bk8:hover
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_bl8
{
    FONT-SIZE: 8pt;
    COLOR: mediumblue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: none
}
.l_bl8:hover
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: olivedrab;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_bk8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma, 'MS Sans Serif';
    TEXT-DECORATION: none
}
.l_bk8b:hover
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    CURSOR: hand;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma, 'MS Sans Serif';
    TEXT-DECORATION: underline
}
.l_bl8b:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: orange;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_bl8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: none
}
.l_wh8
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: none
}
.l_wh8:hover
{
    FONT-SIZE: 8pt;
    COLOR: gold;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_wh8b:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: gold;
    FONT-FAMILY: Tahoma, 'MS Sans Serif';
    TEXT-DECORATION: underline
}
.l_wh9:hover
{
    FONT-SIZE: 9pt;
    COLOR: gold;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_wh9b:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: gold;
    FONT-FAMILY: Tahoma, 'MS Sans Serif';
    TEXT-DECORATION: underline
}
.l_wh8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, 'MS Sans Serif';
    TEXT-DECORATION: none
}
.f_wh7
{
    FONT-SIZE: 7pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_wh7b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_wh8
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_wh8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.f_wh9
{
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_wh9b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red7
{
    FONT-SIZE: 7pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red7b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red8
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red8b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red9
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red9b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.i_dot8
{
    BORDER-RIGHT: #000000 1px;
    BORDER-TOP: #000000 1px;
    FONT-SIZE: 8pt;
    WORD-SPACING: normal;
    BORDER-LEFT: #000000 1px;
    LINE-HEIGHT: 130%;
    BORDER-BOTTOM: #000000 1px dotted;
    FONT-FAMILY: Tahoma
    WHITE-SPACE: normal
}
.i_dot9
{
    BORDER-RIGHT: #000000 1px;
    BORDER-TOP: #000000 1px;
    FONT-SIZE: 9pt;
    WORD-SPACING: normal;
    BORDER-LEFT: #000000 1px;
    LINE-HEIGHT: 130%;
    BORDER-BOTTOM: #000000 1px dotted;
    FONT-FAMILY: Tahoma
    WHITE-SPACE: normal
}
.f_dis8
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.i_colbk8
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.i_colred8
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1pt;
    COLOR: black;
    BORDER-BOTTOM: 1pt;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline
}
.l_red8:hover
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_red8
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: none
}
.prg_titleb
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Arial, Courier, Tahoma
}
.prg_title
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Arial
}
A
{
    TEXT-DECORATION: none
}
.prg_titlel:hover
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Arial
}
.prg_titlel
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Arial;
    TEXT-DECORATION: none
}
.f_bk13
{
    FONT-SIZE: 13pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', BrowalliaUPC, Tahoma, 'Cordia New'
}
.f_bl10
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, BrowalliaUPC, CordiaUPC, 'Cordia New'
}
.f_bl13
{
    FONT-SIZE: 13pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', BrowalliaUPC, 'Cordia New', Tahoma
}
.f_bl9
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.l_wh10:hover
{
    FONT-SIZE: 10pt;
    COLOR: lavender;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Browallia New', 'Cordia New';
    TEXT-DECORATION: underline
}
.l_wh10
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Browallia New', 'Cordia New'
}
.f_wh10
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Browallia New', 'Cordia New'
}
.menu:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Arial, Verdana;
    TEXT-DECORATION: underline
}
.menu
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Arial, Verdana
}
.f_lb8
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.box_bk
{
    BORDER-RIGHT: black 1pt inset;
    BORDER-TOP: black 1pt inset;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1pt inset;
    COLOR: black;
    BORDER-BOTTOM: black 1pt inset;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.box_gy
{
    BORDER-RIGHT: darkgray 1px solid;
    BORDER-TOP: darkgray 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: darkgray 1px solid;
    COLOR: black;
    BORDER-BOTTOM: darkgray 1px solid;
    FONT-FAMILY: Tahoma, 'MS Sans Serif'
}
.l_bl9:hover
{
    FONT-SIZE: 9pt;
    COLOR: lightslategray;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, BrowalliaUPC, 'Cordia New';
    TEXT-DECORATION: underline
}
.l_bl9
{
    FONT-SIZE: 9pt;
    COLOR: darkblue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, BrowalliaUPC, 'Cordia New'
}
.f_gn8
{
    FONT-SIZE: 8pt;
    COLOR: forestgreen;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_focus8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: lightgrey
}
.l_red7:hover
{
    FONT-SIZE: 7pt;
    COLOR: darkkhaki;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_red7
{
    FONT-SIZE: 7pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.page_select:hover
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: darkkhaki;
    TEXT-DECORATION: underline
}
.page_select
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: darkkhaki
}
.page_hl:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif';
    BACKGROUND-COLOR: olivedrab;
    TEXT-DECORATION: underline
}
.page_hl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    BACKGROUND-COLOR: olivedrab
}
.l_gn7
{
    FONT-SIZE: 7pt;
    COLOR: forestgreen;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.l_gn7:hover
{
    FONT-SIZE: 7pt;
    COLOR: lightslategray;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.f_bk13b
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 15pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.l_bk9
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Browallia New', 'Cordia New'
}
.l_bk9:hover
{
    FONT-SIZE: 9pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Browallia New', 'Cordia New';
    TEXT-DECORATION: underline
}
.l_bk10:hover
{
    FONT-SIZE: 10pt;
    COLOR: blue;
    FONT-FAMILY: 'MS Sans Serif', Tahoma;
    TEXT-DECORATION: underline
}
.l_bk10
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma
}
.f_red12b
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 15pt;
    COLOR: red;
    FONT-FAMILY: 'MS Sans Serif';
    FONT-VARIANT: normal
}
.box_red
{
    BORDER-RIGHT: red 2px solid;
    BORDER-TOP: red 2px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    BORDER-LEFT: red 2px solid;
    COLOR: red;
    BORDER-BOTTOM: red 2px solid;
    FONT-FAMILY: 'MS Sans Serif'
}
.box_wh
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    COLOR: white;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: 'MS Sans Serif'
}
.button_red
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: 'MS Sans Serif';
    BACKGROUND-COLOR: red
}
.box_menu
{
    BORDER-RIGHT: darkgray 1pt solid;
    BORDER-TOP: darkgray 1pt solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: darkgray 1pt solid;
    COLOR: black;
    BORDER-BOTTOM: darkgray 1pt;
    FONT-FAMILY: Tahoma
}
.f_wh20
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 20pt;
    BORDER-LEFT: medium none;
    COLOR: white;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: red
}
.f_bk10
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 13pt;
    COLOR: black;
    FONT-FAMILY: 'MS Sans Serif', Tahoma, 'Cordia New', 'Browallia New'
}
.menu_select:hover
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif';
    TEXT-DECORATION: underline
}
.menu_select
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: 'MS Sans Serif'
}
